# dependencies
/node_modules

# build outputs
/dist
/build

# system files
.DS_Store
Thumbs.db


git init
git add .
git commit -m "chore: initialize SwayVote project"
git branch -M main
git remote add origin https://github.com/sabarishgopalk04/sway-vote-Comprehensive-online-Voting-System.git
git push -u origin main
